
<h1>SuperHero</h1>


<dl>
    <td>Name: </td>
    <dd>{{ name }}</dd>

    <td>Age: </td>
    <dd>{{ age }}</dd>

    <td>Method: </td>
    <dd>{{ GetHeroDescription() }}</dd>

    <td>Capitalizado: </td>
    <dd>{{ CapitalizedName }}</dd>
</dl>

<button
    *ngIf="newName"
    (click)="ChangeName()" 
    class="btn btn-primary mx-2">Change name</button>

<button (click)="ChangeAge()" class="btn btn-primary">Change age</button>

<button (click)="Reset()" class="btn btn-primary mx-2">Reset</button>
